---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self/media/recent.json?access_token=1187056.72d343c.7f272c75b4974ff7936679fdf0802dc7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="1187056.72d343c.7f272c75b4974ff7936679fdf0802dc7"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining:
      - '4991'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
    body:
      encoding: UTF-8
      string: '{"pagination":{"next_url":"https:\/\/api.instagram.com\/v1\/users\/1163056\/media\/recent?access_token=1187056.72d343c.7f272c75b4974ff7936679fdf0802dc7\u0026max_id=619742432370608104_1163056","next_max_id":"619742432370608104_1163056"},"meta":{"code":200},"data":[{"attribution":null,"tags":[],"type":"image","location":{"latitude":51.505149186,"name":"Tower
        Bridge","longitude":-0.075584744,"id":35413},"comments":{"count":1,"data":[{"created_time":"1417283653","text":"Que
        lindo!","from":{"username":"erikawalmeida","profile_picture":"https:\/\/igcdn-photos-h-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/10914325_691337790982511_739639502_a.jpg","id":"255400968","full_name":"Erika"},"id":"864560404929431414"}]},"filter":"Normal","created_time":"1417278685","link":"http:\/\/instagram.com\/p\/v_YzTHL8dX\/","likes":{"count":3,"data":[{"username":"erikawalmeida","profile_picture":"https:\/\/igcdn-photos-h-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/10914325_691337790982511_739639502_a.jpg","id":"255400968","full_name":"Erika"},{"username":"alvespmatheus","profile_picture":"https:\/\/igcdn-photos-g-a.akamaihd.net\/hphotos-ak-xfa1\/t51.2885-19\/10838441_759837844063670_255766103_a.jpg","id":"567498121","full_name":"Matheus
        Alves"},{"username":"vieira_diogo","profile_picture":"https:\/\/instagramimages-a.akamaihd.net\/profiles\/profile_50286718_75sq_1350004699.jpg","id":"50286718","full_name":"diogo
        vieira"}]},"images":{"low_resolution":{"url":"http:\/\/scontent-a.cdninstagram.com\/hphotos-xpa1\/t51.2885-15\/s306x306\/e15\/1597577_784458484948543_1579513287_n.jpg","width":306,"height":306},"thumbnail":{"url":"http:\/\/scontent-a.cdninstagram.com\/hphotos-xpa1\/t51.2885-15\/s150x150\/e15\/1597577_784458484948543_1579513287_n.jpg","width":150,"height":150},"standard_resolution":{"url":"http:\/\/scontent-a.cdninstagram.com\/hphotos-xpa1\/t51.2885-15\/e15\/1597577_784458484948543_1579513287_n.jpg","width":640,"height":640}},"users_in_photo":[],"caption":null,"user_has_liked":false,"id":"864518731809670999_1163056","user":{"username":"alvesdan","website":"","profile_picture":"https:\/\/instagramimages-a.akamaihd.net\/profiles\/profile_1163056_75sq_1385071489.jpg","full_name":"Daniel
        Alves","bio":"","id":"1163056"}},{"attribution":null,"tags":[],"type":"image","location":{"latitude":51.550277778,"name":"Belsize
        Park tube station","longitude":-0.164444444,"id":233342361},"comments":{"count":1,"data":[{"created_time":"1417440951","text":"\ud83d\ude0dTe
        amooo!!!","from":{"username":"suzanasantana","profile_picture":"https:\/\/instagramimages-a.akamaihd.net\/profiles\/profile_39668330_75sq_1364413516.jpg","id":"39668330","full_name":"S\u00fa\ud83d\udc8b"},"id":"86587991884980[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self/media/recent.json?access_token=1187056.72d343c.7f272c75b4974ff7936679fdf0802dc7&max_id=619742432370608104_1163056
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="1187056.72d343c.7f272c75b4974ff7936679fdf0802dc7"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Rema[...]
