.container
  .row
    .col-sm-12
      .page-header
        %h1 Your weekly dose of Instagram statistics
  .row
    .col-sm-12
      = link_to 'Login with Instagram', '/auth/instagram', class: 'btn btn-lg'
      %p.help-block
        %small We never save your data in our database. When you sign out, all your data is purged from the memory.
