.container
  .row
    .col-sm-12
      .page-header
        %h1 Your weekly dose of Instagram statistics
  .row
    .col-sm-12
      = link_to 'Login with Instagram', '/auth/instagram', class: 'btn btn-lg btn-primary'
      %p.help-block Your data is not saved on our database at any time. When you sign out, all your data is purged from the memory.
