body.dashboard {
  background: #e2e2e2;
  .container {
    max-width: 600px;
  }
}

.photo-set {
  overflow: hidden;
  border-bottom: 2px solid #fff;
  background: #333;

  .photo {
    display: block;
    width: 20%;
    height: 200px;
    background-size: cover;
    background-position: center center;
    float: left;
    opacity: 0.3;
    transition: opacity 0.3s ease-in-out;
    &:hover {
      opacity: 1;
    }
    @media (max-width: $screen-xs-max) {
      width: 33.3%;
      height: 150px;
      &:nth-child(4), &:nth-child(5) {
        display: none;
      }
    }
  }
}

header {
  text-align: center;
  padding: 0 0 20px;

  .profile-picture {
    width: 80px;
    height: 80px;
    border-radius: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: -40px auto 0;
    box-shadow: 0 0 0 2px #fff;
  }

  h1 {
    margin: 0;
    color: $color-medium-blue;
    font-size: 38px;
    font-weight: 300;
  }

  p {
    font-size: 13px;
    color: #666;
  }
}

.report {
  background: #fff;
  border-radius: 2px;

  header {
    padding: 20px 20px 0 20px;
    color: $color-medium-blue;
    strong {
      display: inline-block;
      padding: 2px 6px;
      border: 2px solid #eee;
      border-radius: 2px;
    }
  }

  .table-wrapper {
    margin: 20px;
    padding: 10px 20px;
    background: #f9f9f9;
  }
  .table {
    margin: 0;
    font-weight: 300;
    color: $color-dark-blue;
    position: relative;

    &:after {
      position: absolute;
      content: '+';
      width: 40px;
      height: 40px;
      left: 50%;
      margin-left: -20px;
      top: 50%;
      margin-top: -20px;
      color: #0c57bc;
      font-size: 40px;
      text-align: center;
      transform: rotate(45deg);
      line-height: 30px;
    }

    tr:first-child {
      td { border: 0; }
    }

    td {
      text-align: center;
      padding: 15px;
      font-size: 18px;
      .count {
        font-weight: bold;
      }
      @media (max-width: $screen-xs-max) {
        font-size: 16px;
      }
    }
  }
}

.graphics {
  background: #fff;
  border-radius: 2px;
  margin-top: 10px;
  margin-bottom: 10px;

  .wrapper {
    padding: 20px;
  }

  .posts, .likes, .comments {
    float: left;
    width: 32%;
    text-align: center;
    margin-right: 2%;
    background: #f9f9f9;
    padding: 40px 0;
    font-size: 30px;
    color: #0c3879;
    position: relative;
    font-weight: 300;

    span {
      font-size: 16px;
    }

    &.up {
      span { color: #36ac58; }
    }
    &.down {
      span { color: #e50720; }
    }

    .icon {
      display: block;
      position: absolute;
      left: 10px;
      top: 10px;
      line-height: 8px;
      span { color: #d6d8e5; }
    }

    .label {
      display: block;
      position: absolute;
      right: 10px;
      top: 10px;
      text-transform: uppercase;
      color: #d6d8e5;
      font-weight: 300;
      font-size: 12px;
    }

    @media (max-width: $screen-xs-max) {
      font-size: 20px;
      .label {
        font-size: 9px;
      }
    }
  }
  .likes {
    margin: 0;
  }
}

.chart-wrapper {
  padding: 20px;
  background: #fff;
  height: 240px;
  border-radius: $border-radius-base;
  margin-bottom: 30px;
  .canvasjs-chart-credit {
    display: none;
  }
  .chart-tooltip {
    font-style: normal;
    font-size: 13px;
    color: #666;
    text-shadow: none;
    font-family: $font-family-sans-serif;
  }
}

.footer {
  padding: 10px 0 30px;
  font-size: 12px;
  color: #999;
  a { color: #666; }
}
