.week-row {
  padding: 30px 0;
  display: block;
  text-align: center;
  max-width: 400px;
  margin: 40px auto;
  background: #f4f4f4;
  .week-title {
    font-size: 20px;
    font-weight: 300;
    .versus {
      color: #ccc;
      text-transform: uppercase;
    }
  }
  .week-resume {
    display: inline-block;
    width: 140px;
    height: 140px;
    border-radius: 100px;
    padding: 20px;
    text-align: center;
    small {
      display: block;
      text-transform: uppercase;
      color: #ccc;
    }
  }
  .week-comparison {
    display: inline-block;
    .posts, .likes, .comments {
      line-height: 38px;
    }
  }
}
